[include]
	path = ~/.config/git/aliases.gitconfig

[user]
	name = User
	email = user@example.com

[credential]
	helper = /usr/local/bin/git-credential-manager

[include]
	path = ~/.config/git/local.gitconfig
