[include]
	path = ~/.config/git/aliases.gitconfig

[user]
	name = Chujie Zeng
	email = chujie.zeng@gmail.com

[credential]
	helper = /usr/local/bin/git-credential-manager

[include]
	path = ~/.config/git/local.gitconfig
